    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>User Profile</h1>
    

    <% if(user.id==profileUser.id){%>
        <form action="/users/update/<%=profileUser.id%>" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%=profileUser.name%>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%=profileUser.email%>" required>
            <input type="submit" value="Update">
        </form>
    <%}else{%>
        <p><%=profileUser.name%></p>
        <p><%=profileUser.email%></p>
    <%}%>